body {
  background-color: #e8eaee; }

.wrapper {
  align-items: center;
  display: flex;
  flex-flow: wrap;
  height: 1200px;
  justify-content: center;
  margin: auto;
  width: 2000px; }

.mapid {
  height: 1080px;
  margin: auto;
  width: 1920px; }
